---
//Imports
import { ContentBlockData } from "../../shared/sharedTypes";

interface HeroProps {
    contentBlock: ContentBlockData;
}

const { contentBlock } = Astro.props as HeroProps

---
{contentBlock.type === 'center' ? (
  <div class="flex flex-col justify-between items-center mb-40">
    <div class="flex flex-col max-w-md pb-4">
      <p class="font-medium text-2xl pb-5 text-center">{contentBlock.title}</p>
      <p class="text-center">{contentBlock.body}</p>
    </div>
    <div class=" w-full aspect-[16/9] bg-grey-300 rounded-lg" />
  </div>
) : (
  // <div class="flex flex-wrap md:flex-row flex-col justify-between mb-40">
  //   {contentBlock.type === 'right' && <div class=" h-72 bg-grey-300 rounded-lg" />}
  //   <div class="basis-2/5 flex flex-col justify-center">
  //     <p class="font-medium text-2xl pb-5">{contentBlock.title}</p>
  //     <p>{contentBlock.body}</p>
  //   </div>
  //   {contentBlock.type === 'left' && <div class="h-72 bg-grey-300 rounded-lg" />}
  // </div>

  <div class="flex flex-wrap md:flex-row flex-col justify-between mb-40">
    <div class="flex flex-col justify-center">
      <p class="font-medium text-2xl pb-5">{contentBlock.title}</p>
      <p>{contentBlock.body}</p>
    </div>
    <div class="h-72 aspect-video bg-grey-300 rounded-lg">

    </div>
  </div>
)}